* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 90%;
  max-width: 600px;
  margin: 10px auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px purple;
  border-radius: 10px;
  padding: 30px;
  transition: 0.5s;

}
.app:hover {
  width: 92%;
  box-shadow: 0 0 30px rgb(255, 104, 210);
  border-radius: 10px;
  transition: 0.5s;
}
.basliq {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin-bottom: 20px;
}

.input {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid palevioletred;
}

.btn {
  padding: 8px;
  background-color: #ba35b8;
  color: white;
  border: none;
  cursor: pointer;
  margin: 5px;
}

.userList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.userItem {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.userText {
  font-size: 18px;
}

.btns {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.editBtn {
  background-color: #036410;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 3px 5px;
  width: 60px;
}

.deleteBtn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  width: 60px;
}

.resetBtn {
  margin-top: 20px;
  width: 90%;
  background-color: rgb(144, 19, 140);
  padding: 10px;
  border: none;
  color: white;
}