*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#Main{
  width: 100%;
  height: 400px;

  padding: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

}
.counter-container {
  text-align: center;
  margin-top: 50px;
  background: #e9c4ff;
background: linear-gradient(90deg, rgba(233, 196, 255, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
 padding: 20px;
 border-radius: 10px 90px;
 width: 400px;
}

h1{
  font-size: 30px;
  color: rgb(107, 29, 55);
  font-family:'Times New Roman', Times, serif;
}

.counter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;

}

.counter-box button {
  font-size: 2rem;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}



.input-section {
  margin-top: 20px;
}

input {
  width: 140px;
  font-size: 20px;
  padding: 5px;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
span{
  font-size: 20px;
  margin: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.input-buttons button {
  padding: 8px 15px;
  margin: 0 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.7s;
  margin: 10px;
}
.input-buttons button:hover {
  background: #EEAECA;
  transition: 0.7s;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
